---
const { frontmatter } = Astro.props;
import Main from "./Main.astro";
import "../styles/global.css";
import '@fontsource-variable/schibsted-grotesk';
import '@fontsource-variable/jetbrains-mono';
---

<html lang="es" class="scroll-smooth">
    <header>
        <base target="_blank">
    </header>
    <Main title={frontmatter.title} description={frontmatter.description}>
        <main class="pb-72 pt-20">
            <div class="h-full w-full">
                <div class="flex justify-between">
                    <div>
                        <div class="mb-3 font-bold text-4xl mx-2">{frontmatter.title}</div>
                        <div class="mb-6 text-md font-extralight opacity-80 mx-2">
                            <time class="opacity-75" datetime={frontmatter.pubDate.toISOString()}>
                                {`${frontmatter.pubDate.getFullYear()} · ${frontmatter.pubDate.getMonth() + 1}`}
                            </time>
                        </div>
                    </div>
                </div>
                <hr class="mb-4 mx-1.5">
                <img src={frontmatter.image} alt="" class="mb-6 rounded-lg shadow-lg"/>
                <article class="prose mx-2">
                    <slot />
                </article>
            </div>
    </Main>
</html>

