---
import Nav from "../components/Nav.astro";
import Seo from "../components/Seo.astro";
import "../styles/global.css"
const {
    title,
    description,
    url = Astro.url,
    image,
    frontmatter,
    robots,
} = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <Seo
    {title}
    {description}
    {url}
    {image}
    {frontmatter}
    {robots}
    ></Seo>
  </head>
  <Nav></Nav>
  <main class="mx-auto max-w-[65ch] w-full px-4 sm:px-6 lg:px-8">
    <slot />
    <!-- Working on i18n -->
    <!-- <Footer></Footer> -->
  </main>
</html>
