---
import Nav from "../components/Nav.astro";
import Seo from "../components/Seo.astro";
import "../styles/global.css"
import '@fontsource-variable/schibsted-grotesk';
import '@fontsource-variable/jetbrains-mono';
const {
    title,
    description,
    url = Astro.url,
    image,
    frontmatter,
    robots,
} = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <Seo 
    {title} 
    {description}
    {url}
    {image}
    {frontmatter}
    {robots}
    ></Seo>
  </head>
  <Nav></Nav>
  <main class=" mx-1 sm:mx-10 lg:mx-44 xl:mx-80 2xl:w-1/3 2xl:mx-auto h-screen">
    <slot /> 
    <!-- Working on i18n -->  
    <!-- <Footer></Footer> -->
  </main>
</html>

